
:root{
 /**Primary*/

--blue: hsl(223, 87%, 63%);

/** Secondary*/

--paleBlue: hsl(223, 100%, 88%);
--light-Red: hsl(354, 100%, 66%);

/**Neutral*/

--gray: hsl(0, 0%, 59%);
--very-Dark-Blue: hsl(209, 33%, 12%)
}

*{
    margin:0;
    padding: 0;
    /*Recuerda que con el border box yo estoy diciendo que los elementos hijos que estén dentro de un contenedor no sobrepasen esa caja*/
    box-sizing: border-box;
}

/*<uniquifier>: Use a unique and descriptive class name*/
/*<weight>: Use a value from 100 to 900*/

body{
  font-family: "Libre Franklin", sans-serif;
font-size: 20px;
}

.main-container{

margin: 85px auto 60px;
}

.logo{
    width: 52px;
  display: block;
    margin: 0 auto 40px;
}

h1{
    font-size: 1.2em;
    font-weight: 300;
    color: var(--gray);
    text-align: center;
    margin-bottom: 16px;
}

h1 span{
    color: var(--very-Dark-Blue);
    font-weight: 700;
}

.suscribe{
text-align: center;
font-weight: 0.65em;
margin-bottom: 36px;
}

form{
   
width: 282px;
margin: auto;

}

input[type="email"]{

width: 100%;
height: 40px;
border-radius: 32px;
margin-bottom: 4px;
border: 1px solid var(--blue);
padding-left: 24px;
}

input[type="email"]:focus{
    outline: none;
}

#error{
color: var(--light-Red);
font-style: italic;
font-size: 0.65em;
text-align: center;
visibility: hidden;
}

input[type="submit"]{
    background-color: var(--blue);
    width: 100%;
    height: 40px;
    border-radius: 32px;
color: #ffffff;
font-weight: 700;
border:none;
margin-bottom: 70px;
box-shadow: 3px 3px 7px var(--blue)
}

input[type="submit"]:hover{
cursor:pointer
}

.dashboard{
   width: 322px;
display: block;
    margin: 0 auto;
    margin-bottom: 120px;
}

.social-container{
    width: 150px;

margin: auto;
display: flex;
justify-content: space-between;
margin-bottom: 36px;

}

.icon-container{
    width: 32px;
    height: 32px;
    border: 1px solid var(--blue);
    border-radius: 50%;
 display: grid;
 place-content: center;
 fill: var(--blue);
}

.icon-container:hover{
background-color: var(--blue);
fill: var(--paleBlue);
}

.icon{
    width: 0.9em;
    height: 0.9em;
}

.copy{
    text-align: center;
    color: var(--gray);
    font-size: 0.6em;

}


/* Deskptop*/

@media (min-width: 768px){

.logo{
    width: 96px;

    margin-bottom: 60px;
}
h1{
    font-size: 2.5em;
}

.suscribe{
font-size: 1.05em;
font-weight: 300;
}

form{
    width: 638px;
    display: flex;
    justify-content: space-between;
}

input[type="email"]{
    width: 420px;
    height: 55px;
    font-size: 0.8em;
}

#error{
    text-align: left;

    padding-left: 24px;
    font-size: 0.65em;
}

input[type="submit"]{
height: 55px;
width: 200px;
margin-bottom: 90px;
font-size: 0.8em;
}

.dashboard{
    width: 640px;
    margin-bottom: 74px;
}




}

